# Ignore build files
QuestionPaperApplication/target/

# Git files
.git
.gitignore

# Node modules (frontend)
node_modules/

# Frontend folder (optional but recommended)
frontend/

# Logs
*.log

# OS files
.DS_Store